<h2>Tasks</h2>

<ul>
<% @tasks.each do |task| %>
    <li><b><%= link_to task.name, task_path(task) %></b><br/>
    Project Title: <%= link_to task.project_title, project_path(task.project) %><br/>
    Assigned to: <%= link_to task.user_username, user_path(task.user) %></li>
<% end %>
</ul>