<h1><%= @user.username %>'s Tasks</h1>

<%= link_to "New Task", new_user_task_path(@user) %><br/>
<br/>
<div>
    <% if @user.tasks.blank? %>
        <p>You don't have any tasks right now. Enjoy!</p>
    <% else %>
        <% @user.tasks.each do |task| %>
            <%= link_to task.name, user_task_path(task.user, task) %><br/>
        <% end %>
    <% end %>
</div>
<br/>
<div>
    <%= link_to "Delete Profile", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
</div>