<h1><%= @project.title %></h1>

<ul>
    <% @project.tasks.each do |task| %>
        <li><%= link_to task.name, task_path(task) %></li>
    <% end %>
</ul>

<br/>
<%= link_to "Edit Project", edit_project_path(@project), method: :get %><br/>
<%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>